section {
    width: 900px;
    margin: auto;
}



h2, h3 {
    margin: 15px 0 5px;
}

li {
    margin: 15px 0;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    background: #f3f3f3;
}
td, th {
    border: 1px solid black;
    padding: 3px;
}
td {
    text-align: center;
    solid-color: black;
}
tr.exceeded {
    color: red;
}
tr.notExceeded {
    color: green;
}

.la {
    text-align: left;
}